.filter-group-container {
  margin-top: 16px;
}

@media screen and (min-width: 768px) {
  .filter-group-container {
    width: 20%;
    max-width: 280px;
    min-width: 240px;
    margin-top: 55px;
    flex-shrink: 0;
    margin-right: 10px;
  }
}

.search-container {
  background-color: #f1f5f9;
  display: flex;
  align-items: center;
  border-radius: 8px;
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 16px;
}
.inputElement {
  border: none;
  outline: none;
  background-color: #f1f5f9;
  flex-grow: 1;
}

.search-icon {
  height: 16px;
  width: 16px;
  color: #475569;
}
.category-heading {
  font-family: 'Roboto';
  font-size: 22px;
  margin-top: 40px;
}
.category-list {
  list-style-type: none;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 0px;
  padding-left: 0px;
}
.each-category {
  margin-top: 0px;
}
.categoryname {
  font-family: 'Roboto';
  font-size: 15px;
  color: #64748b;
  margin-top: 0px;
}
.active-category-name {
  color: #0967d2;
}
